# ChromaticTooltips Access Transformer configuration file
public net.minecraft.client.resources.SimpleReloadableResourceManager field_110548_a #domainResourceManagers
public net.minecraft.client.resources.FallbackResourceManager field_110540_a #resourcePacks
public net.minecraft.client.resources.FallbackResourceManager field_110539_b #frmMetadataSerializer
public net.minecraft.nbt.NBTTagList field_74747_a #taglist
public net.minecraft.client.gui.FontRenderer field_78285_g #colorCode
public net.minecraft.client.gui.inventory.GuiContainer func_146975_c(II)Lnet/minecraft/inventory/Slot; #getSlotAtPosition
public net.minecraft.item.ItemFood field_77851_ca # potionId
public net.minecraft.item.ItemFood field_77850_cb # potionDuration
public net.minecraft.item.ItemFood field_77857_cc # potionAmplifier
public net.minecraft.item.ItemFood field_77858_cd # potionEffectProbability