name: Publish artifacts

on:
  push:
    tags:
      - "*"

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Verify tag state
        run: |
          git describe --tags --exact-match
          test -z "$(git status --porcelain)"

      - name: Setup Java 8
        uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: 8

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: 17

      - name: Set up JDK 21 (Azul Zulu)
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'

      - name: Build Maven repo
        run: bash ./gradlew clean publish

      - name: Deploy to Pages (artifacts)
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build/maven-repo
          publish_branch: artifacts
          keep_files: true
